<app-progress-bar [progress]="progress" [total]="total" [color]="color"></app-progress-bar>

<ng-container *ngIf="progress>=25">
    <app-template1 (onNextTemplate)="gotoNext($event)"> </app-template1>
</ng-container>

<ng-container *ngIf="progress>=50">
    <app-template2 (onNextTemplate)="gotoNext($event)"> </app-template2>
</ng-container>

<ng-container *ngIf="progress>=75">
    <app-template3 (onNextTemplate)="gotoNext($event)"> </app-template3>
</ng-container>

<ng-container *ngIf="progress>=100">
    <app-template4 (onNextTemplate)="gotoNext($event)"> </app-template4>
</ng-container>